<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'home/style.css' %}">

    </head>
    <body>
        <div class="container">
            <div class="textContainer">
                <img class="imageSyss animationImage" src="../../static/imgs/syss.png" alt="">
                <div class="welcome animationWelcome">Welcome!</div>
                <div class="description animationDesc">This is the SSYS Employee Manager</div>
                <a style="opacity: 0" class="animationButton" href="/employeeManagement"><button class="buttonAccess">Access</button></a>
            </div>
        </div>
    </body>
</html>
